# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyApnK8-lczdwWCoptYe9b6sYu0nQk_1-ZM
VITE_FIREBASE_AUTH_DOMAIN=ajex-fishing.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ajex-fishing
VITE_FIREBASE_MESSAGING_SENDER_ID=400230000442
VITE_FIREBASE_APP_ID=1:400230000442:web:f8444d124ed7bce7e15203

# Supabase Configuration
VITE_SUPABASE_URL=https://ikkmxtzxntkjkejsygfj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_4RdmTAvcxBILIMa98a9P8Q_LVEwVR5J

# Nomor WhatsApp Admin
VITE_ADMIN_WHATSAPP=6287854025978

# Sosial Media
VITE_FACEBOOK_URL=https://www.facebook.com/putra.ajex.3/photos
VITE_TIKTOK_URL=https://www.tiktok.com/@putradanisa

# Alamat Workshop
VITE_BUSINESS_ADDRESS=Alamat Workshop AJEX FISHING